impl-jsf11/src/main/resources/META-INF/pretty-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010 Lincoln Baxter, III
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ocpsoft.com/prettyfaces-xsd"
	xmlns:tns="http://ocpsoft.com/prettyfaces-xsd" elementFormDefault="qualified">

	<element name="pretty-config" type="tns:pretty-config"></element>

	<complexType name="pretty-config">
		<sequence>
			<element name="url-mapping" minOccurs="0" maxOccurs="unbounded" type="tns:url-mapping">
			</element>
		</sequence>
	</complexType>

	<complexType name="url-mapping">
		<sequence>
			<element name="pattern" type="string" minOccurs="1" maxOccurs="1">
			</element>
			<element name="query-param" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="name">
								<simpleType>
									<restriction base="string"></restriction>
								</simpleType>
							</attribute>
							<attribute name="decode" type="boolean"></attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="view-id" type="string" minOccurs="1" maxOccurs="1">
			</element>
			<element name="action" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="phaseId">
								<simpleType>
									<restriction base="string">
										<enumeration value="RESTORE_VIEW" />
										<enumeration value="APPLY_REQUEST_VALUES" />
										<enumeration value="PROCESS_VALIDATIONS" />
										<enumeration value="UPDATE_MODEL_VALUES" />
										<enumeration value="INVOKE_APPLICATION" />
										<enumeration value="RENDER_RESPONSE" />
										<enumeration value="ANY_PHASE" />
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="onPostback" type="boolean"></attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
		<attribute name="id" use="required">
		</attribute>
	</complexType>
</schema>
